.prompt-container {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  height: 50vh;
  justify-content: flex-start;
  width: 100vw;
}

.prompt {
  color: #d2fafb;
  font-size: 40px;
  text-align: center;
  text-shadow: 4px 4px #00000055;
  width: 90%;
}

.generator-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.generate {
  background-color: #fe346e;
  border-radius: 2px;
  border-width: 0px;
  box-shadow: 4px 4px #00000055;
  color: #2c003e;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  transition-duration: 0.3s;
}

.generate:hover {
  transform: scale(1.1);
  transition-duration: 0.15s;
}

.generate:active {
  transform: scale(0.85);
  transition-duration: 0.05s;
}

.credits {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 1%;
  right: 3%;
  color: #d2fafb;
  font-size: 16px;
  text-shadow: 4px 4px #00000055;
}

.credits-link:link,
.credits-link:visited {
  color: #fe346e;
}

.credits-link:hover,
.credits-link:active {
  color: #d2fafb;
}

@media screen and (max-width: 600px) {
  .prompt {
    font-size: 30px;
  }

  .credits {
    transform: translate(-999px, 0px);
  }
}
